/* Footer.css */

footer {
  background-color: black; /* Change background color if needed */
  color: white;
  padding: 20px 0;
  margin-top: auto; /* Pushes the footer to the bottom if there's space */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact p,
.about p,
.copyright p {
  margin: 0;
}

.contact a,
.about a,
.copyright a {
  color: white;
  text-decoration: none; /* Remove underline from links */
}

/* Add hover effect for links if needed */
.contact a:hover,
.about a:hover,
.copyright a:hover {
  color: orange;
}
